<h1>ようこそ、<%= current_user.name %> さん。思い出の図書館へ！</h1>

<p><%= current_user.name %> さんのお気に入りの作品を記録しましょう</p>

<h2><%= current_user.name %> さんの本棚</h2>
<p>「本棚」は、あなたがこれまでに観た映画、アニメ、ドラマ、本についての感想を記録する場所です。</p>
<p>お気に入りの作品や、忘れたくない作品の思い出を残しましょう。</p>
<p>新しい作品を追加したり、過去の作品にコメントを追記することもできます。</p>
<p>自分だけの「思い出の図書館」を作ってみてください！</p>

<h2>みんなの広場</h2>
<p>「みんなの広場」では、作品についての感想や意見を他のユーザーと共有できます。</p>
<p>あなたが感動した作品について語り合ったり、他のユーザー様の感想を読んで新しい作品と出会うことができます。</p>
<p>みんなでお気に入りの作品を語り合いましょう！</p>
