body {
  background-color: #f5f5dc !important; /* ベージュ */
  color: #3e2723; /* ダークブラウン */
  font-family: "Arial", sans-serif !important;
}

.navbar {
  background-color: #a4654b !important; /* ウォールナットブラウン */
}

.nav-link {
  color: #ffffff !important; /* 白文字 */
  font-weight: bold;
}

.nav-link:hover {
  color: #ffcc80 !important; /* 明るい琥珀色 */
}

.custom-name, h1, h2, p {
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif !important;
}
