body.home.index {
  background-image: image-url("pexels-lum3n-44775-309724.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}

.home_design h1 {
  font-size: 40px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.home_design p {
  font-size: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.home_design .btn {
  width: 250px;
  padding: 15px 25px;
  text-align: center;
  border-radius: 0;
}

.home_design .btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
}

.home_design .btn-primary {
  background-color: #0063cd;
  color: #ffffff;
}

.home_design .btn-secondary {
  background-color: #8b5100;
  color: #ffffff;
}

.home_design .btn-success {
  background-color: #006a39;
  color: #ffffff;
}

