.book-image {
  width: 150px;
  height: 200px;
  object-fit: contain;
  margin-top: 30px;
}

.book-card {
  margin-bottom: 100px;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

.btn-group .btn-outline-secondary {
  color: rgb(255, 255, 255);
  background-color: #185c28;
  border-color: #000000a3;
}

.btn-group .btn-outline-secondary:hover {
  background-color: #185c28;
}
