.post-detail {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.post-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.post-image {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.post-body {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #555;
}

.custom-post-status.success {
  color: #0051ff;
}

.custom-post-status.danger {
  color: #dc3545;
}
